/* SHARED ______________________________________*/
a {
	text-decoration: none;
}



.usa-grid,
.usa-grid-full {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px; }
.usa-grid::after,
.usa-grid-full::after {
  clear: both;
  content: "";
  display: block; }

.usa-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
@media screen and (min-width: 600px) {
  .usa-grid {
    padding-right: 3rem;
    padding-left: 3rem; } }

.usa-grid-full {
  padding: 0; }

@media screen and (min-width: 600px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%; }
  .usa-width-one-whole:last-child {
    margin-right: 0; }
  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
  .usa-width-one-half:last-child {
    margin-right: 0; }
  .usa-width-one-third {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
  .usa-width-one-third:last-child {
    margin-right: 0; }
  .usa-width-two-thirds {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%; }
  .usa-width-two-thirds:last-child {
    margin-right: 0; }
  .usa-width-one-fourth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
  .usa-width-one-fourth:last-child {
    margin-right: 0; }
  .usa-width-one-fourth:nth-child(2n) {
    margin-right: 0; }
  .usa-width-three-fourths {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%; }
  .usa-width-three-fourths:last-child {
    margin-right: 0; }
  .usa-width-one-sixth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
  .usa-width-one-sixth:last-child {
    margin-right: 0; }
  .usa-width-one-sixth:nth-child(3n) {
    margin-right: 0; }
  .usa-width-five-sixths {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%; }
  .usa-width-five-sixths:last-child {
    margin-right: 0; }
  .usa-width-one-twelfth {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
  .usa-width-one-twelfth:last-child {
    margin-right: 0; }
  .usa-width-one-twelfth:nth-child(3n) {
    margin-right: 0; }
  .usa-width-five-twelfths {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%; }
  .usa-width-five-twelfths:last-child {
    margin-right: 0; }
  .usa-width-seven-twelfths {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%; }
  .usa-width-seven-twelfths:last-child {
    margin-right: 0; } }

@media screen and (min-width: 1201px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
  .usa-width-one-whole:last-child {
    margin-right: 0; }
  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
  .usa-width-one-half:last-child {
    margin-right: 0; }
  .usa-width-one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
  .usa-width-one-third:last-child {
    margin-right: 0; }
  .usa-width-two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
  .usa-width-two-thirds:last-child {
    margin-right: 0; }
  .usa-width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
  .usa-width-one-fourth:last-child {
    margin-right: 0; }
  .usa-width-one-fourth:nth-child(2n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
  .usa-width-one-fourth:nth-child(2n):last-child {
    margin-right: 0; }
  .usa-width-one-fourth:nth-child(4n) {
    margin-right: 0; }
  .usa-width-three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
  .usa-width-three-fourths:last-child {
    margin-right: 0; }
  .usa-width-one-sixth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
  .usa-width-one-sixth:last-child {
    margin-right: 0; }
  .usa-width-one-sixth:nth-child(3n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
  .usa-width-one-sixth:nth-child(3n):last-child {
    margin-right: 0; }
  .usa-width-one-sixth:nth-child(6n) {
    margin-right: 0; }
  .usa-width-five-sixths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
  .usa-width-five-sixths:last-child {
    margin-right: 0; }
  .usa-width-one-twelfth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
  .usa-width-one-twelfth:last-child {
    margin-right: 0; }
  .usa-width-one-twelfth:nth-child(3n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
  .usa-width-one-twelfth:nth-child(3n):last-child {
    margin-right: 0; }
  .usa-width-one-twelfth:nth-child(12n) {
    margin-right: 0; }
  .usa-width-five-twelfths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
  .usa-width-five-twelfths:last-child {
    margin-right: 0; }
  .usa-width-seven-twelfths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
  .usa-width-seven-twelfths:last-child {
    margin-right: 0; } }

.usa-end-row {
  margin-right: 0; }

.usa-offset-one-twelfth {
  margin-left: 8.5298%; }

.usa-offset-one-sixth {
  margin-left: 17.05961%; }

.usa-offset-one-fourth {
  margin-left: 25.58941%; }

.usa-offset-one-third {
  margin-left: 34.11922%; }

.usa-offset-five-twelfths {
  margin-left: 42.64902%; }

.usa-offset-one-half {
  margin-left: 51.17883%; }

.usa-offset-seven-twelfths {
  margin-left: 59.70863%; }

.usa-offset-two-thirds {
  margin-left: 68.23843%; }

.usa-offset-three-fourths {
  margin-left: 76.76824%; }

.usa-offset-five-sixths {
  margin-left: 85.29804%; }

.usa-offset-eleven-twelfths {
  margin-left: 93.82785%; }

.usa-sr-only {
  position: absolute;
  left: -999em; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }
.coil-subheading {
	text-transform: uppercase;
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	max-width: 430px;
}

.coil-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	max-width: 430px;
}


.line {
	display: block;
	height: 9px;
	max-width: 130px;
}

.short-line {
	display: block;
	height: 7px;
	max-width: 70px;
	margin: 0 auto 40px auto;
}

.white {
	background-color: white;
}

.red {
	background-color: #FF3D40;
}

.orange {
	background-color: #FF552E;
}

.yellow {
	background-color: #FDC51D;
}

.blue {
	background-color: #96C4FA;
}

.wrapper {
	transition: background .2s ease;
	-webkit-transition: background 1.5s;
	-moz-transition: background 1.5s;
	-ms-transition: background 1.5s;
	-o-transition: background 1.5s;
}

.section {
	height: 100vh;
}

.spacing-top {
	margin-top: 10%;
}

.coil-text h1 {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #222;
	text-align: center;
}

.coil-text p {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	color: #222;
	text-align: center;
}

/* HERO ______________________________________*/
#hero {
	position: relative;
	background-color: black;
	background-image: url("../img/coil-hero-01.png");
	background-repeat: no-repeat;
	background-size: auto 110vh;
	height: 110vh;
	transition: all .5s ease;
	  -webkit-animation: fade 4s infinite;
	  -moz-animation: fade 4s infinite;
	  -o-animation: fade 4s infinite;
	  animation: fade 4s infinite;
	z-index: 1;
}

.coil-brand h1{
	padding-left:5px;
	left: 2.5%;
	right: 87.15%;
	top: 10%;
	bottom: 97.5%;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 33px;
	color: white;
	margin: 0;
}

.coil-brand a:visited {
	color: white;
}

#navbar {
	background-color: transparent;
	padding-left: 2%;
	width: auto;
}

.coil-nav a {
	color: white;
}


.usa-accordion {
	color: white;
}
.usa-nav__primary {
	margin-top: 20px;
	margin-right:  30px;
}

.usa-nav__primary li span {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin: 0 35px 0 0;
	letter-spacing: 0.5px;
}
.usa-nav-link {
	color: white !important;
}

#intro {
	margin-top: 50px;
	padding: 0 !important;
	
}

#intro-block {
	background-color: #222;
	padding: 120px 30px 30px 40px;
}

#intro-block h1 {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 700;
	font-size: 35px;
	line-height: 43px;
	color: #FFF;
}

#intro-block p {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
	font-size: 21px;
	line-height: 30px;
	color: #FFF;
	max-width: 442px;
}

.button {
	border: 1px solid #FFF;
	max-width: 150px;
	text-align: center;
	padding: 5px 0;
	margin: 30px 0 70px 0;
}

.button p {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 11px !important;
	text-transform: uppercase;
	line-height: 13px !important;
}



@media screen and (max-width: 800px) {
	#navbar {
		position: inherit;
	}

	#intro {
		left: 20%;
		right: 20%;
		top: 25%;
	}

	#hero-text h1{
		font-size: 6em;
	}

	#hero-subtext {
		width: 100%;
	}

	#hero-subtext p {
		font-size: 25px;
	}

}

@media screen and (max-width: 481px) {

	#intro {
		left: 10%;
		right: 10%;
		top: 25%;
	}

	#hero-text h1{
		font-size: 80px;
	}

	#hero-subtext {
		width: 100%;
	}

	#hero-subtext p {
		font-size: 25px;
	}

	#hero {
		background-image: url("../img/coil-hero-mobile.png");
	}
}
/* MISSION ______________________________________*/
#mission {
	background-image: url('../img/coil-mission-shape.png');
	margin: auto;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 400px;
	transition: 0.3s all;
	text-align: center;
	padding-top: 60px;
	z-index: 0;
}

#mission img {
	max-width: 584px;
}

#mission p {
	margin: auto;
	color: white;
	font-family: GT America;
	font-style: normal;
	font-weight: 400;
	font-size: 1.7em;
	line-height: 1.3em;
	max-width: 700px;
}

#mission .line {
	margin: 8px auto;
	max-width: 700px;
}

@media screen and (max-width: 800px and min-width: 481px) {
	#mission {
		height: 60vh;
	}
}
@media screen and (max-width: 481px)  {
	#mission {
		padding-top: 30%;
		padding-left: 5%;
		padding-right: 5%;
	}
	#mission p {
		font-size: 1.5em;
	}
}

/* WHO WE ARE ______________________________________*/
#who-we-are {
	text-align: center;
}

#who-we-are p {
	text-align: left !important;
}

/* SKILLS ______________________________________*/
#skills {
	/*background-image: url('../img/skills.svg'); */
	background-position: center;
	text-align: center;
	max-height: 720px;
	background-repeat: no-repeat;
	max-width: 1250px;
	margin: auto;
	border: 5px solid #F8D76E;
}


#skills h1 {
	position: relative;
	top: -45px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	width: 250px;

}

#skills p {
	max-width: 590px;
	margin: auto;
}

.skill {
	display: inline-block;
	max-width: 165px;
	margin: 10% 35px 7% 35px;
	vertical-align: top;
}

.skill img {
	max-width: 135px;

}

.skill h2 {
	font-family: neue-haas-grotesk-text, sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;
	max-width: 165px;
}


/* PROGRAMS ______________________________________*/
#programs {
	background-color: #E8F0F9;
	padding-top: 7%;
}
	#programs p {
		max-width: 590px;
		margin: auto;
	}

#programs-container {
	max-width: 1440px;
	padding-top: 5%;
	margin: auto;
	text-align: center;
}

#accelerate {
	background-image: url('../img/accelerate.png');
}
	#accelerate h1 {
		text-transform: uppercase;
		font-family: neue-haas-grotesk-display, sans-serif;
		font-size: 40px;
		line-height: 44px;
		color: #FFF;
		letter-spacing: 2.5px;
	}

#top {
	background-image: url('../img/top.png');
}

#hcd {
	background-image: url('../img/hcd.png');
}

#cdf {
	background-image: url('../img/cdf.png');
}

.program-container {
	display: inline-block;
	width: 49%;
	height: auto;
	overflow: hidden;
	vertical-align: top;
}
	.program-container h1 {
		min-height: 88px;
		margin-top: 26%;
		text-transform: uppercase;
		font-family: neue-haas-grotesk-display, sans-serif;
		font-size: 40px;
		line-height: 44px;
		color: #FFF;
		letter-spacing: 2.5px;
		max-width: 500px;
		text-align: left !important;
	}
	.program-container p {
		font-family: neue-haas-grotesk-display, sans-serif;
		font-weight: 600;
		font-style: italic;
		color: #FFF;
		font-size: 20px;
		line-height: 24px;
		height: 120px;
		max-width: 465px !important;
		margin: 0 !important;
		text-align: left !important;
	}

.program {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 57px;
	height: 100%;
	vertical-align: top;
	box-sizing: border-box;
	transition: transform .2s ease;
}
	.program:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);

	}

.program-line {
	border: 1px solid white;
	width: 125px;
	margin-bottom: 30px;
}












/* INITIATIVES ______________________________________*/
#initiatives {
	min-height: 100vh;
	padding-bottom:10%;
}

#top-project-image {
	min-width: 570px;
	position: relative;
	left: 70px;
}

#acc-project-image {
	min-width: 570px;
	position: relative;
	left: -50px;
}
.project-heading {
	text-transform: uppercase;
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	margin-top: 1.5%;
	max-width: 430px;
}

.project-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	max-width: 430px;
	margin-bottom: 10%;
}

.project-link p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	max-width: 430px;
	display: inline;
	margin-left: 5px;
}

.project-link {
	color: black;
	position: relative;
}


.project-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FDC51D;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-link:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}


.project-link:hover {
	color: black;
}

.project-link:visited {
	color: black;
}

.project-arrow  {
	display: inline;
	position: relative;
	top: 3px;
	left: 8px;
}

.spacing-top {
	margin-top: 8% !important;
}

.acc-project {
	position: relative;
	left: 10%;
}

@media screen and (max-width: 800px) {
	#top-project-image {
		min-width: 0;
		position: inherit;
		margin-top: 40%;
	}

	#acc-project-image {
		position: inherit; 
		min-width: 0;
		margin-top: 30%;
	}

	.acc-project {
		position: inherit;
	}

	.acc-project {
		margin-bottom: 10% !important;
	}
}

@media screen and (max-width: 481px) {
	#initiatives {
		padding-top: 30%;
	}

	.project-body {
		font-size: 18px;
		line-height: 25px;
	}

	#top-project-image {
		margin-top: 10%;
		margin-bottom: 30%;
		width: 100%;
	}

	#acc-project-image {
		min-width: 0;
		width: 100%;
	}

	.project-link p{
		font-size: 18px;
	} 

	.acc-project {
		margin-bottom: 30% !important;
	}	

	.mobile-margin {
		margin-bottom: 30% !important; 
	}
}

/* CONTACT ______________________________________*/
#contact {
	background: white;
	height: 800px;
	padding-left: 20%;
	padding-top: 10%;
	transition: 0.2s ease;
}

#contact .coil-subheading, #contact .coil-body {
	color: white;
}

.contact-card {
	display: inline-block;
	max-width: 240px;
}

.contact-name {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: white;
}

.contact-title {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: white;
}

.contact-email {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
	color: white;
}

#contact-circle {
	position: relative;
	right:-50%;
	top: -500px;
}

@media screen and (max-width: 800px) {
	#contact-circle {
		display: none;
	}

	#contact {
		padding: 30% 10% 0% 10%;
	}

}

@media screen and (max-width: 481px) {
	#contact {
		padding: 30% 5% 0% 5%;
	}

	.contact-card {
		margin: 10% 0;
	}
}

/* TEST ______________________________________*/
footer {
	background-color: black;
	height: 300px;
	width: 100%;
	}




