/* FONTS ______________________________________*/
@font-face {
  font-family: 'GT America Compressed';
  src: url('../fonts/GT-America-Compressed-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-America-Compressed-Medium.otf') format('embedded-opentype'), 
       url('../fonts/GT-America-Compressed-Medium.ttf') format('truetype'), 
       url('../fonts/GT-America-Compressed-Medium.woff') format('woff'), 
       url('../fonts/GT-America-Compressed-Medium.woff2')  format('Woff2'); 
}

@font-face {
  font-family: 'GT America Mono';
  src: url('../fonts/GT-America-Mono-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-America-Mono-Medium.otf') format('embedded-opentype'), 
       url('../fonts/GT-America-Mono-Medium.ttf') format('truetype'), 
       url('../fonts/GT-America-Mono-Medium.woff') format('woff'), 
       url('../fonts/GT-America-Mono-Medium.woff2')  format('Woff2');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'GT America';
  font-weight: 400;
  src: url('../fonts/GT-America-Standard-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-America-Standard-Regular.otf') format('embedded-opentype'), 
       url('../fonts/GT-America-Standard-Regular.ttf') format('truetype'), 
       url('../fonts/GT-America-Standard-Regular') format('woff'); 
}

@font-face {
  font-family: 'GT America';
  font-weight: 600;
  src: url('../fonts/GT-America-Standard-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-America-Standard-Medium.otf') format('embedded-opentype'), 
       url('../fonts/GT-America-Standard-Medium.ttf') format('truetype'), 
       url('../fonts/GT-America-Standard-Medium') format('woff');
}


/* SHARED ______________________________________*/

.coil-subheading {
	text-transform: uppercase;
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	max-width: 430px;
}

.coil-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	max-width: 430px;
}


.line {
	display: block;
	height: 9px;
	max-width: 430px;
}

.white {
	background-color: white;
}

.orange {
	background-color: #FF552E;
}

.yellow {
	background-color: #FDC51D;
}

.wrapper {
	transition: background .2s ease;
	-webkit-transition: background 1.5s;
	-moz-transition: background 1.5s;
	-ms-transition: background 1.5s;
	-o-transition: background 1.5s;
}

.section {
	height: 100vh;
}


/* HERO ______________________________________*/
#hero {
	background-color: black;
	background-image: url("../img/coil-hero-01.png");
	background-size: cover;
	height: 110vh;
	transition: all .5s ease;
	  -webkit-animation: fade 4s infinite;
	  -moz-animation: fade 4s infinite;
	  -o-animation: fade 4s infinite;
	  animation: fade 4s infinite;
}

.coil-brand h1{
	text-transform: uppercase;
	padding-left:5px;
	left: 2.5%;
	right: 87.15%;
	top: 10%;
	bottom: 97.5%;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 33px;
	color: white;
	margin: 0;
}

.coil-brand a:visited {
	color: white;
}

#navbar {
	background-color: transparent !important;
	padding-left: 2%;
	padding-top: 2%;
	width: auto;
}

.usa-nav {
	float: left;
}

.coil-nav li:hover{
	border-left: 4px solid #FDC51D;	
}

.active-nav {
	border-left: 4px solid #FDC51D;	
}

.coil-nav a {
	color: white;
}


.usa-accordion {
	color: white;
}
.usa-nav__primary {
	display: inline-block;
	padding-top: 20%;
}

.usa-nav__primary li {
	font-family: GT America Mono, monotype;
	font-weight: 500;
	font-size: 1.4em;
	line-height: 1.3em;
	margin: 10px 0;
	padding-left:5px;
}
.usa-nav-link {
	color: white !important;
}



#intro {
	position: absolute;
	left: 41.94%;
	right: auto;
	top: 25%;
}

#hero-text {
	position: relative;
	display: block;
	background-color: #FDC51D;
}
#hero-text h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 500;
	font-size: 120px;
	letter-spacing: -2px;

	color: black;
}

#hero-subtext {
	max-width: 460px;
}

#hero-subtext p {
	font-family: GT America;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 36px;
	color: white;
}

#continue {
	position: absolute;
	top: 90vh;
	left: 50%;
	animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


@media screen and (min-width: 951px) {

}

@media screen and (max-width: 800px) {
	#navbar {
		position: inherit;
	}

	#intro {
		left: 20%;
		right: 20%;
		top: 25%;
	}

	#hero-text h1{
		font-size: 6em;
	}

	#hero-subtext {
		width: 100%;
	}

	#hero-subtext p {
		font-size: 25px;
	}

}

@media screen and (max-width: 481px) {

	#intro {
		left: 10%;
		right: 10%;
		top: 25%;
	}

	#hero-text h1{
		font-size: 80px;
	}

	#hero-subtext {
		width: 100%;
	}

	#hero-subtext p {
		font-size: 25px;
	}

	#hero {
		background-image: url("../img/coil-hero-mobile.png");
	}
}
/* MISSION ______________________________________*/
#mission {
	background: white;
	background-size: cover;
	height: 85vh;
	padding-top: 14%;
	transition: 0.3s all;
}


#mission h1 {
	margin: auto;
	color: white;
	text-transform: uppercase;
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
	line-height: 37px;
	max-width: 700px;
}

#mission p {
	margin: auto;
	color: white;
	font-family: GT America;
	font-style: normal;
	font-weight: 400;
	font-size: 1.7em;
	line-height: 1.3em;
	max-width: 700px;
}

#mission .line {
	margin: 8px auto;
	max-width: 700px;
}

@media screen and (max-width: 800px and min-width: 481px) {
	#mission {
		height: 60vh;
	}
}
@media screen and (max-width: 481px)  {
	#mission {
		padding-top: 30%;
		padding-left: 5%;
		padding-right: 5%;
	}
	#mission p {
		font-size: 1.5em;
	}
}


/* ABOUT ______________________________________*/
.coil {
	padding-top: 10%;
	padding-left: 5%;
	background-color: white;
}

.coil h1 {
	color: black;
}

.coil p {
	color: black;
}
.coil .coil-subheading {
	margin-top: 18%;
}

.coil img {
	max-width: 400px;
}

#coil-1 {
	position: relative;
}

#coil-2 {
	position: relative;
	left: 120px;
	top: -100px;
}

#coil-3 {
	position: relative;
	left: 40px;
	top: -150px;
}

@media screen and (max-width: 800px) {
	.coil img {
		max-width: 300px;
	}
}

@media screen and (max-width: 481px)  {
	#coil-1, #coil-2, #coil-3 {
		position: inherit;
	}

	.coil img {
		max-width: 100%;
		margin: 5% 0;
	}
}

/* INITIATIVES ______________________________________*/
#initiatives {
	min-height: 100vh;
	padding-bottom:10%;
}

#top-project-image {
	min-width: 570px;
	position: relative;
	left: 70px;
}

#acc-project-image {
	min-width: 570px;
	position: relative;
	left: -50px;
}
.project-heading {
	text-transform: uppercase;
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	margin-top: 1.5%;
	max-width: 430px;
}

.project-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	max-width: 430px;
	margin-bottom: 10%;
}

.project-link p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 27px;
	max-width: 430px;
	display: inline;
	margin-left: 5px;
}

.project-link {
	color: black;
	position: relative;
}

.project-link::after {
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 2px;                    /* <- distance */
    border-bottom: 4px solid #FDC51D;
    z-index: -1;  
}


.project-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fdc51d' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 8px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.project-link:visited {
	color: black;
}

.project-arrow  {
	display: inline;
	position: relative;
	top: 3px;
	left: 8px;
}

.spacing-top {
	margin-top: 8% !important;
}

.acc-project {
	position: relative;
	left: 10%;
}

@media screen and (max-width: 800px) {
	#top-project-image {
		min-width: 0;
		position: inherit;
		margin-top: 40%;
	}

	#acc-project-image {
		position: inherit; 
		min-width: 0;
		margin-top: 30%;
	}

	.acc-project {
		position: inherit;
	}

	.acc-project {
		margin-bottom: 10% !important;
	}
}

@media screen and (max-width: 481px) {
	#initiatives {
		padding-top: 30%;
	}

	.project-body {
		font-size: 18px;
		line-height: 25px;
	}

	#top-project-image {
		margin-top: 10%;
		margin-bottom: 30%;
		width: 100%;
	}

	#acc-project-image {
		min-width: 0;
		width: 100%;
	}

	.project-link p{
		font-size: 18px;
	} 

	.acc-project {
		margin-bottom: 30% !important;
	}	

	.mobile-margin {
		margin-bottom: 30% !important; 
	}
}

/* CONTACT ______________________________________*/
#contact {
	background: white;
	height: 800px;
	padding-left: 20%;
	padding-top: 10%;
	transition: 0.2s ease;
}

#contact .coil-subheading, #contact .coil-body {
	color: white;
}

.contact-card {
	display: inline-block;
	max-width: 240px;
}

.contact-name {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: white;
}

.contact-title {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: white;
}

.contact-email {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 30px;
	color: white;
}

#contact-circle {
	position: relative;
	right:-50%;
	top: -500px;
}

@media screen and (max-width: 800px) {
	#contact-circle {
		display: none;
	}

	#contact {
		padding: 30% 10% 0% 10%;
	}

}

@media screen and (max-width: 481px) {
	#contact {
		padding: 30% 5% 0% 5%;
	}

	.contact-card {
		margin: 10% 0;
	}
}

/* TEST ______________________________________*/
footer {
	background-color: black;
	height: 300px;
	width: 100%;
	}




