---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// These are the U.S. Design Standards variables (color definitions, etc.)
@import "core/variables";

@media screen and (max-width: 1200px) { .ood-narrow-hide { display: none; } }
@media screen and (min-width: 1201px) { .ood-wide-hide { display: none; } }

h1, h2, h3, h4, h5, h6 {
  color: $color-primary-darker;
}

i.fa-github {
  margin-left: 0.15em;
}

main > article,
main > section,
.ood-banner {
  overflow: auto; /* defeat margin collapse */
}

.usa-disclaimer,
.ood-banner > *,
main > section > * ,
body > footer {
  padding-left: $site-margins;
  padding-right: $site-margins;
}

main > section {
  padding-bottom: $grid-margins;
}

main > section.alt {
  background-color: $color-gray-cool-light;
}

main > section.alt2 {
  background-color: $color-gray-lightest;
}

.ood-banner {
  background-color: $color-primary-darkest;
  background-repeat: no-repeat;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center bottom;

  a {
    color: $color-gray-lighter;

    &:hover {
      color: $color-white;
    }
  }

  & p,
  & h1 {
    color: $color-white !important;
  }

  & > :last-child {
    margin-bottom: $grid-margins;
  }
}

.usa-font-lead {
  color: $color-gray-dark;
}

.usa-grid-full {
  max-width: none;
}

.ood-repo {
  float: right;
  margin: 0;
  font-size: smaller;
}

.ood-gallery-item {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: $grid-margins;
}

.ood-gallery-item-image-container {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    display: block;
    content: "";
    width: 100%;
  }
}

.ood-gallery-item-content {
  color: $color-gray;
}

.ood-gallery-item-commitment {
  padding: $grid-margins;

  .ood-gallery-item-image-container {
    background-color: $color-white;
    background-size: contain;

    &:before {
      padding-top: 346px / 957px * 100%; /* images should be 957 x 346 px */
    }
  }
}

.ood-gallery-item-data-consumer {
  .ood-gallery-item-content {
    padding: 0 $grid-margins $grid-margins;
  }

  .ood-gallery-item-image-container {
    background-color: $color-gray-lightest;
    background-size: cover;
    border-bottom: 1px solid $color-gray-lighter;

    &:before {
      padding-top: 442px / 623px * 100%; /* images should be 623 x 442 px */
    }
  }
}

.ood-quotation {
  color: $color-primary-alt-darkest;
  margin: $grid-margins*1.5 auto 0;
  padding: 0 $site-margins;
}

.ood-bg-icon {
  font-size: 18vw;
  color: $color-gray-lightest;
  text-align: center;
  padding-top: .1em;
}

.usa-background-dark {
  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
  }
}

body > footer {
  .usa-footer-secondary_section {
    background-color: $color-gray-dark;
    color: $color-white;
    padding-bottom: 0;

    a {
      color: $color-gray-lighter;
    }
  }

  address > :last-child {
    margin-bottom: $site-margins;
  }

  .usa-footer-logo-img {
    max-height: 10rem;
    max-width: 10rem;
    vertical-align: middle;
    margin-right: $grid-margins;
    margin-bottom: $grid-margins;
  }
}
