<section class="alt">

  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <h2>Connect</h2>

      <h3>Join the community</h3>
      <script async defer src="https://opportunity-slack.herokuapp.com/slackin.js?large"></script>
      <br>
      <a href="https://github.com/uscensusbureau/opportunity"
         class="usa-button usa-button-gray">Visit on GitHub<i class="fa fa-github fa-fw"></i></a>

      <p>Below are a number of tools developed using Open Opportunity Data.</p>
    </div>

    <div class="usa-width-one-third ood-narrow-hide ood-bg-icon">
      <i class="fa fa-connectdevelop"></i>
    </div>
  </div>

  <div class="usa-grid">
    {% include_relative index_includes/data-consumer.html %}
    {% include_relative index_includes/data-consumer.html %}
  </div>
  <div class="usa-grid">
    {% include_relative index_includes/data-consumer.html %}
    {% include_relative index_includes/data-consumer.html %}
  </div>
  <div class="usa-grid">
    {% include_relative index_includes/data-consumer.html %}
    {% include_relative index_includes/data-consumer.html %}
  </div>

</section>
